

.instagramsectiontitle {
    font-size: 34px;
    padding-top: 5px;
}

.artline {
    width: 100%;
    height: 10px;
}

.nousaussi {
    padding-top: 30px;
}

.nousa {
    font-size: 28px;
    padding-top: 55px;
    margin: 10px;
}

.instagramicon {
    padding-top: 0px;
    margin-top: 0px;
}

.col-md-6 {
    text-align: center;
}


.linephotos {
    width: 100vw;
}
    
.col-md-2 {
   margin: none; 
    }
